.menu {
    position: absolute;
    top: 10px;
    right: $side_padding + 2.2%;
    z-index: 2;

    &_link {
        color: $gray_color;
        font-size: 13px;
        margin-right: 30px;
        text-decoration: none;
        text-transform: uppercase; 
        transition: .2s ease color;

        &:hover {
            color: #fff;
        }
        &:last-child {
            margin: 0;
        }
        &__active {
            color: $gold_color;
        }
    }
    &__main {
        right: $side_padding - 0.4%;
        z-index: 3;
    }
}