$button-vertical_margin: 45px;

.button {
    color: $gold_color;
    border: 1px solid $gold_color;
    display: inline-block;
    font: 16px $headings_font-family;
    margin: $button-vertical_margin 20px $button-vertical_margin 0;
    padding: 15px 50px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s ease background-color, .2s ease color;

    &:hover {
        background-color: $gold_color;
        color: #fff;
    }
    &:active {
        background-color: $gold_color__dark;
    }
    &__next {
        background: url(./images/next.png) no-repeat right 20px;
        padding: 15px 36px;
        &:hover {
            background-position: right -11px;
        }
    }
    &__center {
        margin: $button-vertical_margin auto;
    }
}