.button {
    color: $gold_color;
    border: 1px solid $gold_color;
    display: inline-block;
    font: 16px $headings_font-family;
    margin: 45px 0;
    padding: 15px 50px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s ease background-color, .2s ease color;

    &:hover {
        background-color: $gold_color;
        color: #fff;
    }
    &:active {
        background-color: $gold_color__dark;
    }
    &__next {
        background: url(../img/next.png) no-repeat right 20px;
        padding: 15px 36px;
        &:hover {
            background-position: right -11px;
        }
    }
}