
$default_font-family: 'Open Sans', sans-serif;
$headings_font-family: 'PT Serif', serif;;
$default_font-size: 16px;
$heading_color: #fff;
$default_color: #808080;

$default_background: #141414;
$gold_color: #d7ac46;
$gold_color__hover: #ffd268;
$gray_color: #808080;
$dark_color: #666;
$red_color: #cc0000;

$side_padding: 50px;