
$default_font-family: 'Open Sans', sans-serif;
$headings_font-family: 'PT Serif', serif;;
$default_font-size: 16px;
$default_color: #fff;

$default_background: #141414;
$gold_color: #d7ac46;
$gray_color: #7d7e7f;

$side_padding: 50px;