$default_font-family: 'Open Sans', sans-serif;
$headings_font-family: 'PT Serif', serif;;
$default_font-size: 16px;
$heading_color: #fff;
$default_color: #808080;

$default_background: #141414;
$gold_color: #d7ac46;
$gold_color__hover: #ffd268;
$gold_color__dark: #ab8a3e;
$gray_color: #808080;
$dark_color: #666;
$red_color: #cc0000;

$side_padding: 2.7%;
$content_padding-right: 2%;
$content_padding-left: 6%;

$frame_top: 45px;
$frame_left: 8.4%;
$frame_width: 89.3%;
$frame_height: 720px;

$content-left_width: 50%;
$content-right_width: 35%;



