@charset "utf-8";

@import "const";
@import "templates";

/*Layout*/
@import "layout/normalize";
@import "layout/layout";
@import "layout/showcase";
@import "layout/content";
@import "layout/main-photos";
@import "layout/prize";
@import "layout/start";
@import "layout/copyright";
@import "layout/carousel";
@import "layout/headings";
@import "layout/frame";
@import "layout/gold";
@import "layout/dashboard";
@import "layout/prizes-slider";
@import "layout/popup";

/*Header*/
@import "header/menu";
@import "header/logo";
@import "header/notifications";

/*Links*/
@import "links/fb";
@import "links/link";

/*Form elements*/
@import "form-elements/button";
@import "form-elements/choose-button";
@import "form-elements/input";
@import "form-elements/search";
@import "form-elements/textarea";
@import "form-elements/label";
@import "form-elements/autocomplete";

/*Games*/
@import "game/game-form";
@import "game/stats";
@import "game/flag";
@import "game/question";
@import "game/answeir";
@import "game/nation";
@import "game/tanks";
@import "game/search-form";
@import "game/game-wrapper";
@import "game/tank-details";
@import "game/epoch";
@import "game/progress";

/*Plugins*/
@import "plugins/chosen";
@import "plugins/slider";
@import "plugins/scroll";