$content_padding-top: 120px;
$content_padding-bottom: 10px;
$control_size: 35px;

.content {
    min-height: 635px;
    padding: $content_padding-top $side_padding + $content_padding-right $content_padding-bottom $frame_left + $content_padding-left;
    position: relative;

    &_left {
        float: left;
        width: $content-left_width;
    }
    &_right {
        float: right;
        position: relative;
        height: $frame_height - $content_padding-top;
        width: $content-right_width;
    }
    
    &_aside {
        font-style: italic;
    }
    &_game-image {
        @include invisible-text;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto;
        height: $frame_height - $content_padding-top - $content_padding-bottom;
        width: 150%;
        position: relative;
        right: 30%;
        top: 10px;
    }
    &_slider {
        position: absolute;
        top: 50%;
        right: 1.3%;
    }
    &_counter {
        color: $dark_color;
        font-size: 13px;
        font-style: italic;
        margin: 0 0 5px;
    }
    &_control {
        background: url(./images/content-controls.png) no-repeat;
        @include invisible-text;
        border: 1px solid $gold_color; 
        border-radius: 50%;
        display: block;
        margin: 5px auto;
        height: $control_size;
        width: $control_size;
        transition: .2s ease background-color, .2s ease color;
        
        &:hover {
            background-color: $gold_color;
        }
        &__next {
            background-position: 14px 8px;

            &:hover {
                background-position: 14px -49px;
            }
        }
        &__prev {
            background-position: 11px -20px;

            &:hover {
                background-position: 11px -78px;
            }
        }
    }
    p:not([class]) {
        margin: 0 0 25px;
    }
}
