$content_padding-top: 120px;
$content_padding-bottom: 10px;

.content {
    min-height: 635px;
    padding: $content_padding-top $side_padding + $content_padding-right $content_padding-bottom $frame_left + $content_padding-left;
    position: relative;

    &_left {
        float: left;
        width: $content-left_width;
    }
    &_right {
        float: right;
        position: relative;
        height: $frame_height - $content_padding-top;
        width: $content-right_width;
    }
    
    &_aside {
        font-style: italic;
    }
    &_game-image {
        @include invisible-text;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto;
        height: $frame_height - $content_padding-top - $content_padding-bottom;
        width: 150%;
        position: relative;
        right: 30%;
        top: 10px;
    }
    p:not([class]) {
        margin: 0 0 25px;
    }
}
