.heading-1 {
    font: 48px $headings_font-family;
    text-transform: uppercase;
}
.heading-1 {
    font: 30px $headings_font-family;
    text-transform: uppercase;
}
.heading-3 {
    font: 20px $headings_font-family;
    text-transform: uppercase;
}
