.heading-1 {
    color: $heading_color;
    font: 46px/56px $headings_font-family;
    text-transform: uppercase;

    &__indent-left {
        margin-left: 20px;
    }
    .content & {
        margin-top: 0;
    }
}
.heading-2 {
    color: $heading_color;
    font: 32px $headings_font-family;
    text-transform: uppercase;
}
.heading-3 {
    color: $heading_color;
    font: 17px $headings_font-family;
    text-transform: uppercase;

    .dashboard_item & {
        margin: 0 0 35px; 
    }
}
.heading-4 {
    color: $heading_color;
    font: italic 18px/28px $default_font-family;
}



