@font-face {
    font-family: 'MinionPro';
    src: url('../fonts/minion_pro-webfont.eot');
    src: url('../fonts/minion_pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/minion_pro-webfont.woff2') format('woff2'),
         url('../fonts/minion_pro-webfont.woff') format('woff'),
         url('../fonts/minion_pro-webfont.ttf') format('truetype'),
         url('../fonts/minion_pro-webfont.svg#minion_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
%clearfix {
    clear: both;
    zoom: 1;

    &:after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        line-height: 0;
        visibility: hidden;
    }
}
body {
    background: $default_background;
    color: $default_color;
    font: #{$default_font-size}/28px $default_font-family;
    min-width: 1024px;
}
.gold {
    color: $gold_color;
}
.sign-in {
    color: $gray_color;
    float: right;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
}