.main-photos {
    padding: 0 $side_padding;
    position: relative;
    z-index: 3;

    &_title {
        color: $heading_color;
        font: 20px/54px $headings_font-family;
        margin: 0 0 30px;
        text-transform: uppercase;
    }
    &_list {
        margin: 0 -2% 0 0;
        padding: 0;
    }
    &_item {
        list-style: none;
        float: left;
        margin: 0 2% 0 0;
        width: 31.3%;
        position: relative;
        text-align: center;
    }
    &_flag {
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -180px 0 0 -328px; 
        z-index: -1;
    }
    &_image {
        margin: 0 0 10px;
        width: 100%;
    }
    &_model {
        color: #fff;
        font: lighter italic 18px $default_font-family; 
        display: block;

        &:before {
            background: url(./images/nations.png) no-repeat;
            content: '';
            display: inline-block;
            margin: 0 10px 0 0;
            width: 21px;
            height: 20px;
            vertical-align: -2px;
        }
        
        $nations: 'ussr', 'uk','usa', 'chech', 'germany', 'spain', 'france', 'poland', 'turkey', 'portugal', 'japan', 'holland', 'china', 'korea', 'brazil', 'argentina';
        @each $i in $nations {
            &__#{$i}:before {
                background-position: 0 -20px * (index($nations, $i) - 1);
            }
        }
    }
}
