.notifications {
    position: absolute;
    top: 10px;
    right: 1.3%;
    z-index: 1;

    &_icon {
        @include invisible-text;
        display: inline-block;
        background: url(./images/bell.png) no-repeat center 7px;
        border: 1px solid $gold_color;
        border-radius: 50%;
        position: relative;
        height: 36px;
        width: 36px;
        transition: .3s background-color ease;

        &:hover {
            background-color: $gold_color;
            background-position: center -20px;
        }
        &:active {
            background-corol: $gold_color__dark;
        }
    }
    &_new {
        color: #fff;
        background: $red_color;
        border-radius: 50%;
        font-size: 11px;
        line-height: 22px;
        position: absolute;
        top: -8px;
        right: -8px;
        height: 20px;
        width: 20px;
        vertical-align: middle;
        text-align: center;
    }
}
.notifications-list {
    padding: 0;

    &_item {
        clear: both;
        list-style: none;
        padding: 15px;

        &__new {
            background: rgba(76, 76, 76, .25)
        }
    }
    &_image {
        float: left;
        margin:5px 30px 0 0;
        width: 120px;
    }
    &_content {
        margin: 0 0 0 150px;
    }
}
