.popup {
    background: $transparent_background;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;
    z-index: 10;
    display: none;
    
    &_content {
        margin: auto;
        width: 550px;
    }
    &_close {
        color: $gold_color;
        font-size: 30px;
        position: absolute;
        top: 60px;
        right: 85px;
        text-decoration: none;
    }
    p:not([class]) {
        margin: 0 0 40px;
    }
}
