$prize-item_padding: 160px;
$prize-item_padding__wide: 200px;
$prize_border: 1px solid #212121;

.prize {
    @extend %clearfix;
    overflow: hidden;
    margin: 0 auto 35px;
    max-width: $content_max-width;
    padding: 0 $side_padding;
    position: relative;
    z-index: 3;

    &:before {
        background: url(./images/flag-small.png) no-repeat;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100px;
        height: 865px;
        z-index: -1;
    }

    &_title {
        color: $heading_color;
        font: 20px/54px $headings_font-family;
        margin: 170px 0 20px;
        text-transform: uppercase;
    }
    &_main {
        color: $heading_color;
        font: 48px/58px $headings_font-family;
        margin: 20px 0;
        text-transform: uppercase;
    }
    &_model {
        color: $gold_color;
        display: block;
    }
    &_description {
        font-style: italic;
    }
    &_image {
        position: absolute;
        top: -50px;
        right: -20px;
        z-index: -1;
    }
    &_items {
        margin: 175px 0 0;
    }
    &_item {
        @include border-box;
        float: left;
        padding: 50px 0 50px $prize-item_padding__wide;
        width: 50%;

        &__premium {
            background: url(./images/prizes/premium.png) no-repeat 5% 35%;
            border-bottom: $prize_border;
            border-right: $prize_border;
            min-height: 200px;
        }
        &__gold {
            background: url(./images/prizes/gold.png) no-repeat 4% center;
            border-bottom: $prize_border;
            min-height: 200px;
        }
        &__gold-premium {
            background: url(./images/prizes/gold-and-premium.png) no-repeat 0.5% 62%;
            padding-top: 75px;
            border-right: $prize_border;
            min-height: 175px;
        }
        &__premium-light {
            background: url(./images/prizes/premium.png) no-repeat 4% 68%;
            padding-top: 75px;
            min-height: 175px;
        }
    }
    &_item-title {
        font: 28px $headings_font-family;
        margin: 0 0 10px;
        text-transform: uppercase;
    }
    &_item-description {
        font: lighter italic $default_font-size $default_font-family; 
        margin: 0;
        opacity: .5;
    }
}