.question {
    color: $gold_color__dark;
    border: 1px solid $gold_color__dark;
    border-radius: 50%;
    display: inline-block;
    line-height: 18px;
    font-size: 14px;
    text-align: center;
    vertical-align: 2px;
    width: 18px;
    text-decoration: none;
}