.showcase {
    background: url(../img/main-bg.jpg) no-repeat;
    background-size: 100% auto;
    padding: 10px $side_padding 200px;
    position: relative;
    z-index: 3;

    &_description {
        color: #fff;
        width: 550px;
    }
    &_fb {
        @include invisible-text;
        background: url(../img/fb.png) no-repeat center center;
        position: absolute;
        top: 90px;
        right: 30px;
        border: 1px solid $gold_color;
        border-radius: 50%;
        height: 36px;
        width: 36px;
    }
}
