.showcase {
    background: url(./images/main-bg.jpg) no-repeat;
    background-size: 100% auto;
    min-height: 750px;
    padding: 10px $side_padding 80px;
    position: relative;
    z-index: 2;

    &:after {
        background: url(./images/flag.png) no-repeat;
        background-size: 100% auto;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 33vw;
        height: 1500px;
        z-index: -1;
    }
    &_logo {
        position: absolute;
        left: 8.4%;
        margin: 0 0 0 -120px;
        top: 43px;
    }
    &_description {
        color: #fff;
        position: absolute;
        top: 220px;
        left: 3.6%;
        width: 550px;

        p {
            font-style: italic;
            margin: 0;
        }
    }
    &__minigame {
        background: url(./images/flag.png) no-repeat 0 190px;
        background-size: 100% auto;
        min-height: 675px;

        &:after {
            content: none;
        }
    }
    &__minigame-finish {
        background-position: 0 -100px;
    }
}
