.showcase {
    background: url(../img/main-bg.jpg) no-repeat;
    background-size: 100% auto;
    min-height: 750px;
    padding: 10px $side_padding 200px;
    position: relative;
    z-index: 2;

    &:after {
        background: url(../img/flag.png) no-repeat;
        background-size: 100% auto;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 75%;
        height: 1500px;
        z-index: -1;
    }
    &_logo {
        position: absolute;
        left: 1.95%;
        top: 43px;
    }
    &_description {
        color: #fff;
        position: absolute;
        top: 220px;
        left: 3.6%;
        width: 550px;
    }
}
