$slider-text_left-indent: 130px;

.slider {
    @extend %clearfix;
    
    margin: 0;
    min-height: 300px;
    padding: 0  $side_padding;
    position: relative;
    z-index: 1;

    &:before {
        background: url(../img/flag.png) no-repeat;
        background-size: 100% auto;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: -180px;
        height: 1500px;
        z-index: -1;
    }
    &_item {
        list-style: none;
        padding: 0 10% 0 0;
    }
    &_title {
        color: $gold_color;
        font-family: $headings_font-family;
        margin: 0 0 18px $slider-text_left-indent;
        text-transform: uppercase;
    }
    &_main-word {
        color: #fff;
        display: block;
        font-size: 28px;
        line-height: 31px;
        text-transform: uppercase;
    }
    &_image {
        float: left;
        margin: 5px 20px 0 0;
    }
    &_text {
        margin: 0 0 0 $slider-text_left-indent;
        opacity: .3;
    }
}