.slider {
    @extend %clearfix;
    background: url(../img/flag.png) no-repeat;
    background-size: 100% auto;
    margin: -200px 0 0;
    padding: 0  $side_padding;
    position: relative;
    z-index: 1;

    &_item {
        list-style: none;
        padding: 0 10% 0 0;
        float: left;
        width: 40%;
    }
    &_title {
        color: $gold_color;
        font-family: $headings_font-family;
        text-transform: uppercase;
    }
    &_main-word {
        color: #fff;
        display: block;
        font-size: 28px;
        text-transform: uppercase;
    }
    &_image {
        float: left;
        margin: 20px 20px 0 0;
    }
    &_text {
        opacity: .3;
    }
}