.start {
    margin: 0 auto 70px;
    position: relative;
    text-align: center;
    max-width: $content_max-width;
    z-index: 1;

    &_message {
        font: lighter italic $default_font-size $default_font-family;
        margin: 25px 0;
        opacity: .25;
    }
}