.start {
    position: relative;
    text-align: center;
    z-index: 1;

    &_message {
        font: lighter italic $default_font-size $default_font-family;
        margin: 25px 0;
        opacity: .25;
    }
    &_fb {
        background: url(../img/fb-blue.png) no-repeat 12px center; 
        border: 1px solid #4e5f98;
        color: #4e5f98;
        font-size: 13px;
        padding: 8px 20px 8px 35px;
        text-decoration: none;
        text-transform: uppercase;
    }
}