.link {
    color: #808080;
    font-style: italic;
    padding: 0 10px 0 0;
    position: relative;
    transition: .2s ease color;

    &:hover {
        color: #fff;
    }
    &:after {
        content: '\00BB';
        position: absolute;
        right: 0;
        top: -1px;
    }
    &__main {
        color: $gold_color;
        &:hover {
            color: $gold_color__hover;
        }
    }
    &__simple {
        text-decoration: none;

        &:after {
            content: none;    
        }
    }
    &__skip {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
