.flag {
    @include invisible-text;
    background: url(./images/flags.jpg) no-repeat;
    display: inline-block;
    height: 11px;
    width: 14px;
    margin: 0 5px 3px;
    vertical-align: middle;

    $nations: 'ussr', 'uk','usa', 'chech', 'germany', 'spain', 'france', 'poland', 'turkey', 'portugal', 'japan', 'holland', 'china', 'korea', 'brazil', 'argentina';
    @each $i in $nations {
        &__#{$i} {
            background-position: 0 -11px * (index($nations, $i) - 1);
        }
    }

}
